
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href=" https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <style>
   .navbar{
       background-color:#5ecde9;
       color:rgb(125, 210, 221);
     }
     a.navbar-brand{
       color:#f1f1f1;
     }
     a.nav-link{
      color:#f1f1f1;
     }
     
   </style>
<nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
      <div class="container">
        <a class="navbar-brand" [routerLink]='["/"]'>Sallery Managment </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
          [attr.aria-expanded]="isExpanded" (click)="toggle()">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
          <ul class="navbar-nav flex-grow">
            <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <a class="nav-link text-dark" [routerLink]='["/"]'>Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/Employee"]'>Add Employee</a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
              <a class="nav-link text-dark" [routerLink]='["/Employeelist"]'>Employee List</a>
            </li>
            <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a class="nav-link text-dark" [routerLink]='["/master"]'>Master</a>
              </li>
              <li class="nav-item" [routerLinkActive]='["link-active"]'>
                <a class="nav-link text-dark" [routerLink]='["/login"]'>Login</a>
              </li>
             
          </ul>
        </div>
      </div>
    </nav>

  